<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- TODO: repo list -->
    <!-- TODO: content path override if running updater outside content directory, set via Directory.SetCurrentDirectory -->
  </appSettings>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>