<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>

    <!-- Controls the log verbosity. Valid entries are: Trace, Debug, Info, Warn, Error, Fatal -->
    <add key="LogLevel" value="Info"/>

    <!-- the content repo configuration uri -->
    <add key="ContentRepoUri" value="http://ernegien.net/eldewrito/content/repo.json"/>

    <!-- the updater repo configuration uri -->
    <add key="UpdaterRepoUri" value="http://ernegien.net/eldewrito/updater/repo.json"/>

    <!-- leave blank to use the patching application's directory -->
    <add key="ContentPath" value=""/>

    <!-- leave blank to use full hash validation of all content, or specify a file path relative to the repo base path that's unique between all versions for quicker identification -->
    <add key="VersionFilePath" value="mtndew.dll"/>

    <!-- If specified, to be used as additional verification that the updater is targeting the right directory. -->
    <add key="FileMustExist" value="eldorado.exe"/>

    <!-- Indicates whether or not content should be validated before package application. -->
    <add key="ValidateBeforePackageApply" value="false"/>

    <!-- Indicates whether or not content should be validated after package application. -->
    <add key="ValidateAfterPackageApply" value="false"/>

    <!-- Determines whether or not to prompt the user for permission to update itself. -->
    <add key="UpdaterAutoUpdate" value="true"/>
    
  </appSettings>
  <system.net>
    <connectionManagement>
      <add address="*" maxconnection="32"/>
    </connectionManagement>
  </system.net>
</configuration>